@@charset "UTF-8";

html,body{
  width:100%;
  min-height: 100%;
  padding:0;
  margin:0;
}

#wrapper{
  width:100%;
  height:auto;
  min-height: 500px;
}

.container{
  padding:50px 0;
  text-align: center;

}

.form-control{
}

h1{
  margin-bottom: 100px;
}

.tail{
  margin-top:-230px;
}

.flip img{
  animation:flipIt 1s linear infinite;
}
.tail img{
  animation-delay:0.5s;
}

@keyframes flipIt {
  0%{width:0px;
    height:225px;}
  25%{width:225px;
    height:225px;}
  50%{width: 0px;
    height:225px;}
  100%{width:0px;
    height:225px;}
}
